<div>
  <h3>Yay! Start Playing! ✨</h3>
  <h5>How to play?</h5>
  <p class="font-italic">
    <b>1.</b> Click on Next Card to draw a card.
    <b>2.</b> Look for the image on the card on your board.
    <b>3.</b> If you see the image in your board, click on it!
  </p>
  <p>The goal is to have <b>all</b> the images on your board selected 🏁</p>
  <div class="loteria-game row">
    <div class="col-md-6">
      <app-big-board [boardId]="boardId"></app-big-board>
    </div>
    <div class="col-md-6 card-deck">
      <app-card-deck></app-card-deck>
    </div>
  </div>
</div>
