<p>
  <center> ¡Hola! Hello! Bonjour! Olà! Hallo! 💙 </center>
  <br>
  <font face= "AR DARLING" size="4"> 
  We are two sisters from Mexico, and we decided to design a lottery, since it's a very popular game in our country. 
  We like to learn about the mysteries of space and and ask us about its formation and evolution. But what we like most is to observe the night sky and contemplate its immensity.
  This is the reason for having made this game with the help of the Hubble Space Telescope images, so that others contemplate the wonder of these images, whose contents represent from stars to the nebulae and galaxies that they harbor in the Cosmos.
  </font> 
</p>
